{% extends "layout.html" %}

{% block title %}
    Account history
{% endblock %}

{% block main %}
    <h1 style="text-align: center;">Account history</h1>
    <div>
        <p style="text-align: center;">
            Stock transactions:
        </p>
        <table class="ctab">
            <col style="width: 20%;">
            <col style="width: 30%;">
            <col style="width: 30%;">
            <col style="width: 30%;">
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Amount</th>
                    <th>Value</th>
                    <th>Transaction</t>
                </tr>
            </thead>
            <tbody style="background-color: #a1b3ad">
                {% for i in range(hist) %}
                    <tr>
                        <td>{{ history[i]["stock"] }}</td>
                        <td>{{ history[i]["amount"] }}</td>
                        <td>{{ history[i]["value"] }}</td>
                        <td>{{ history[i]["type"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}